* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}


body {
    padding: 1rem;
}

footer {
    margin: 0.5rem;
    padding: 1.5rem;
    border-radius: 6px;
    background-color: rgb(128, 224, 128);
    border: 1px solid rgb(128,224,128);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 224, 128);
    padding: 1.5rem;
    border: 1px solid rgb(128,224,128);
    border-radius: 6px;
}

header nav {
    display: flex;
    gap: 1rem;
}

.wings {
    text-align: center;
    padding: 2rem;
}

footer {
    text-align: center;
}