* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sorts Mill Goudy", serif;    
}

main {
    margin: 100px;
}

.slider {
            width: 100%;
            overflow: hidden;
        }
        .slides {
            display: flex;
            width: 100%;
            height: 100%;
            animation: slide 6s infinite;
            margin-top: 20px;
        }
        .slides img {
            width: 100%;
        }
        @keyframes slide {
            0% {margin-left: -100%;}
            33% {margin-left: -100%;}
            66% {margin-left: -200%;}
            100% {margin-left: 0;}
        }

footer {
    padding: 1.5rem;
    background-color: rgb(128, 224, 128);
    border: 1px solid rgb(128,224,128);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 224, 128);
    padding: 1.5rem;
    border: 1px solid rgb(128,224,128);
    }

header nav {
    display: flex;
    gap: 1rem;
}

section {
    border: 2px solid rgb(128, 224, 128);
    border-radius: 6px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

aside {
    border: 2px solid rgb(128, 224, 128);
    border-radius: 6px;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 18px;
}

aside:hover {
    background-color: rgb(231, 180, 241);
    border: 2px solid rgb(231, 180, 241);
}

.container {
    display: flex;
}

footer {
    text-align: center;
}

.about {
    border: 2px solid rgb(128, 224, 128);
    padding: 2rem;
    font-size: 18px;
}

.aboutheader {
    text-align: center;
}

.aboutimage {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 1950px) {

}
